* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  font-size: 10px;
}

body {
  background-color: rgb(243, 243, 243);
  font-family: sans-serif;
}

h2 {
  font-size: 2.2rem;
  text-align: center;
}

h4,
p,
.readmore {
  font-size: 1rem;
}
p {
  margin: 1.2rem;
  line-height: 1.5;
}

.underline {
  background: rgb(53, 161, 194);
  height: 0.2rem;
  margin: 1rem auto;
  width: 40%;
}

.container {
  margin: 1rem auto;
}

.Tours {
  margin: 2rem auto;
  max-width: 40rem;
}

.Tour {
  box-shadow: 7px 9px 30px -10px rgba(0, 0, 0, 0.83);
  background-color: white;
  border-radius: 10px;
  margin: 2rem 0.5rem;
}

.section {
  padding: 1rem 0;
}

.tour-price {
  background-color: rgb(182, 233, 250);
  border-radius: 5px;
  padding: 0.1rem;
}

.info-section {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

.readmore {
  border: none;
  background-color: white;
  color: rgb(53, 161, 194);
  text-transform: capitalize;
}

.delete-btn {
  cursor: pointer;
  display: block;
  margin: 1rem auto;
  width: 40%;
  padding: 0.6rem;
  background-color: white;
  border: 1px solid rgb(221, 89, 89);
  font-size: 1.1rem;
  text-transform: capitalize;
}

.refresh {
  border-radius: 10px;
  border: none;
  background-color: rgb(53, 161, 194);
  display: block;
  font-size: 1rem;
  padding: 1rem 1.5rem;
  margin: 2rem auto;
  width: 20%;
}

img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  height: 20.5rem;
  object-fit: cover;
}
